## Pandas I

Exercises for Netflix:

In [188]:
import pandas as pd 

path = 'netflix_titles.csv'
df = pd.read_csv(path)
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [88]:
1. #find missing ratings
df['rating'].isna().sum()

4

In [84]:
2. #how many films correspond to The Netherlands in 2021

#list countries to find what they called my coutry this time 
df['country'].unique()

#count films from "Netherlands" in 2021 by creating a dataframe and couting the rows
df[(df['country'] == 'Netherlands') & (df['release_year'] == 2021)].shape[0]

2

In [98]:
df[df['type'] == 'Movie'].isna().sum()

show_id           0
type              0
title             0
director        188
cast            475
country         440
date_added        0
release_year      0
rating            2
duration          3
listed_in         0
description       0
dtype: int64

In [99]:
#3. What's the number of movies in 2020 with full information?
df[(df['type'] == 'Movie')  #filter by type Movie
& (df['release_year'] == 2020) #filter by release year 2020
& (df['director'].notna()) # filter by rating not null
& (df['cast'].notna()) # filter by cast not null
& (df['country'].notna()) # filter by country not null
& (df['rating'].notna()) # filter by rating not null
& (df['duration'].notna())].shape[0]

409

In [100]:
#4. Give me the year with more titles.
df['release_year'].value_counts().idxmax()

2018

In [107]:
#5. and what has been the average in terms of releases from 2010. 

#what is the most current year in the dataset
most_current_year = df['release_year'].max()

#filter by release year greater than 2010 and count the number of rows and devide by amount of years
df[df['release_year'] > 2010].shape[0] / (most_current_year - 2010)

661.6363636363636

And for Titanic:

In [115]:
path = 'train_and_test2.csv'

df = pd.read_csv(path)
df.head(5)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [186]:
# Total count of passengers per gender
total_per_gender = df.groupby('Sex').size()

# Count of survivors (2urvived == 1) per gender
survivors_per_gender = df[df['2urvived'] == 1].groupby('Sex').size()

# Calculate survival rate (percentage) per gender
male_survival_rate = (survivors_per_gender.loc[0] / total_per_gender.loc[0]) * 100
female_survival_rate = (survivors_per_gender.loc[1] / total_per_gender.loc[1]) * 100

# Print survival rates
print(f'Male survival rate: {male_survival_rate:.2f}%')
print(f'Female survival rate: {female_survival_rate:.2f}%')

Male survival rate: 12.93%
Female survival rate: 50.00%

In [187]:
#2. Calculate Survival Percentage Grouped by Gender and Class
# Group the DataFrame by 'Sex' and 'Pclass'
grouped = df.groupby(['Sex', 'Pclass'])

# Calculate the count of survivors (only where 2urvived == 1)
survival_counts = grouped['2urvived'].apply(lambda x: (x == 1).sum()).reset_index(name='Survived')

# Calculate the total count of passengers per group
class_total = grouped.size().reset_index(name='Total')

# Merge the two DataFrames
survival_percentages = survival_counts.merge(class_total, on=['Sex', 'Pclass'])

# Calculate the survival percentage
survival_percentages['Survival_Percentage'] = (
    survival_percentages['Survived'] / survival_percentages['Total'] * 100
)

# Print the final DataFrame with survival percentages
print(survival_percentages)

   Sex  Pclass  Survived  Total  Survival_Percentage
0    0       1        45    179            25.139665
1    0       2        17    171             9.941520
2    0       3        47    493             9.533469
3    1       1        91    144            63.194444
4    1       2        70    106            66.037736
5    1       3        72    216            33.333333